APP_NAME=Kayra
KNOWLEDGE_DIR=data/knowledge
LOG_DIR=runtime
MIN_CONFIDENCE=0.22
AUTH_SECRET=change-this-kayra-dev-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=KayraAdmin2026!
SUPPORT_USERNAME=support
SUPPORT_PASSWORD=KayraSupport2026!
